body {
  padding: 50px;
  background-color: #a7dad1;
  font-family: sans-serif;
}

container {
  display: flex;
  justify-content: center;
}

button {
  border-radius: 20px;
  width: 6rem;
  background-color: rgb(13, 112, 112);
}

.delete {
  background-color: rgb(143, 13, 13);
  min-height: 30px;
  color: white;
  font-size: 20px;
}
